{% extends 'layout.html' %}
{#
utilizamos la platilla de encabezado
#}
{% block title %} Registro de usuarios {% endblock %}
{% block content %}

{% if error %}
    Error: <span class="label label-danger"> {{error}}</span>
    <p>&nbsp;</p>

{% endif %}    

<form method="POST" action="/nuevoUsuario" role="form">

    <div class="row">    
        <div class="col-xs-1">
            <label for="usuario">Usuario: </label>
        </div>
        <div class="col-xs-5">
            {% if usuario %}
                <input type="text" name="usuario" id="usuario" value="{{usuario}}" required>
            {% else %}
                <input type="text" name="usuario" id="usuario" required>
            {% endif %}
        </div>    
    </div>

    <div class="row">    
        <div class="col-xs-1">
            <label for="edad">Edad: </label>
        </div>
        <div class="col-xs-5">
            <input type="number" name="edad" id="edad" required>
        </div>
    </div>    

    <div class="row">    
        <div class="col-xs-1">    
            <label for="sexo">Sexo: </label>
        </div>
        <div class="col-xs-5">
            <input type="radio" name="sexo" value="M" checked> Masculino<br>
            <input type="radio" name="sexo" value="F"> Femenino<br>
        </div>
    </div>    

    <div class="row">    
        <div class="col-xs-1">    
            <label for="email">Correo: </label>
        </div>
        <div class="col-xs-5">
            <input type="email" name="email" id="email" required>
        </div>
    </div>    

    <div class="row">    
        <div class="col-xs-1">    
            <label for="password">Contraseña: </label>
        </div>
        <div class="col-xs-5">
            <input type="password" name="password" id="password" required>
        </div>
    </div>    

    <div class="row">    

        {% if admin %}
        <div class="col-xs-1">    
            <label for="admin">&nbsp;</label>
        </div>
        <div class="col-xs-5">
            <input type="checkbox" name="admin" id="admin" checked disabled > Administrador:
        </div>
        {% else %}
        <div class="col-xs-1">    
            <label for="admin">&nbsp;</label>
        </div>
        <div class="col-xs-5">
            <input type="checkbox" name="admin" id="admin">Administrador:
        </div>
        {% endif %} 
    </div>

    <div class="row">    
        <div class="col-xs-1">    
            <label for="none"></label>
        </div>
        <div class="col-xs-5">
            <input type="submit" name="enviar" value="Registrar" class="btn btn-success">
        </div>
    </div>

</form>

{% endblock %}